Repository therealtimex/deepagents: changes, and which pre-commit hooks are due for each by the changed paths.
All: deepagents, deepagents-cli, harbor, acp

deepagents:
  name: format and lint deepagents
  language: system
  entry: make -C libs/deepagents format lint
  pass_filenames: false

deepagents-cli:
  name: format and lint deepagents-cli
  language: system
  entry: make -C libs/deepagents-cli format lint
  pass_filenames: false

harbor:
  name: format and lint harbor
  language: system
  entry: make -C libs/harbor format lint
  pass_filenames: false

acp:
  name: format and lint acp
  language: system
  entry: make -C libs/acp format lint
  pass_filenames: false

fix(sdk): handle large payloads and headless container execution (#872)
  libs/deepagents/deepagents/backends/sandbox.py
  libs/harbor/deepagents_harbor/backend.py
Due: deepagents, harbor

feat(sdk): model capability validation (#733)
  libs/deepagents-cli/deepagents_cli/config.py
  libs/deepagents-cli/tests/unit_tests/test_config.py
Due: deepagents-cli

fix(sdk,acp,harbor): don't allow relative imports (#882)
  libs/acp/pyproject.toml
  libs/deepagents/pyproject.toml
  libs/deepagents/tests/integration_tests/test_deepagents.py
  libs/deepagents/tests/integration_tests/test_filesystem_middleware.py
  libs/deepagents/tests/integration_tests/test_hitl.py
  libs/harbor/pyproject.toml
Due: deepagents, harbor, acp

fix: default to 5.2 (#896)
  libs/deepagents-cli/README.md
  libs/deepagents-cli/deepagents_cli/config.py
  libs/deepagents-cli/deepagents_cli/main.py
Due: deepagents-cli

feat: lazily adding trace link to deepagents banner (#894)
  libs/deepagents-cli/deepagents_cli/widgets/welcome.py
Due: deepagents-cli

chore(examples): add examples README and deep_research example (#904)
  README.md
  examples/README.md
  examples/da-examples-cover.png
  examples/deep_research/.env.example
  examples/deep_research/README.md
  examples/deep_research/agent.py
  examples/deep_research/langgraph.json
  examples/deep_research/pyproject.toml
  examples/deep_research/research_agent.ipynb
  examples/deep_research/research_agent/__init__.py
  examples/deep_research/research_agent/prompts.py
  examples/deep_research/research_agent/tools.py
  examples/deep_research/utils.py
  examples/deep_research/uv.lock
Due: none

feat(deepagents): truncate tool messages from read_file (#897)
  libs/deepagents/deepagents/middleware/filesystem.py
  libs/deepagents/tests/unit_tests/test_end_to_end.py
Due: deepagents

feat(deepagents): truncate middle of content instead of end on tool response eviction (#901)
  libs/deepagents/deepagents/middleware/filesystem.py
  libs/deepagents/tests/unit_tests/test_middleware.py
Due: deepagents

chore(sdk): ReadMe cleanup (#906)
  README.md
  libs/deepagents-cli/README.md
  libs/deepagents-cli/da-cli-cover-photo.png
Due: deepagents-cli

docs(sdk): update logos and new readme (#908)
  .github/images/deepagents_logo.svg
  README.md
  examples/README.md
  examples/downloading_agents/README.md
Due: none

feat(cli): Support VertexAI provider on the CLI (#828)
  libs/deepagents-cli/deepagents_cli/config.py
  libs/deepagents-cli/pyproject.toml
  libs/deepagents-cli/uv.lock
  libs/harbor/uv.lock
Due: deepagents-cli, harbor

fix(cli): scrolling wrapping on input/resume, running tool spinner (#913)
  libs/deepagents-cli/deepagents_cli/app.py
  libs/deepagents-cli/deepagents_cli/textual_adapter.py
  libs/deepagents-cli/deepagents_cli/widgets/approval.py
  libs/deepagents-cli/deepagents_cli/widgets/chat_input.py
  libs/deepagents-cli/deepagents_cli/widgets/messages.py
Due: deepagents-cli

docs(sdk): add uv install instruction (#914)
  README.md
Due: none

test(sdk): add unit test for handling large single-line file bug (#813)
  libs/deepagents/deepagents/middleware/filesystem.py
  libs/deepagents/tests/unit_tests/test_end_to_end.py
Due: deepagents

docs: update cli cover photo (#929)
  libs/deepagents-cli/cli-banner.jpg
  libs/deepagents-cli/da-cli-cover-photo.png
Due: deepagents-cli

refactor: filesystem middleware (#928)
  libs/deepagents/deepagents/middleware/filesystem.py
  libs/deepagents/tests/unit_tests/middleware/test_tool_schemas.py
Due: deepagents

chore(infra): add `'Related Issues / PRs'` field to bug report template (#942)
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

fix(sdk): summarization offloading (#920)
  libs/deepagents-cli/deepagents_cli/agent.py
  libs/deepagents-cli/tests/unit_tests/test_end_to_end.py
  libs/deepagents/deepagents/middleware/summarization.py
  libs/deepagents/tests/unit_tests/middleware/test_summarization_middleware.py
Due: deepagents, deepagents-cli

release(deepagents): 0.3.9 (#944)
  libs/deepagents-cli/uv.lock
  libs/deepagents/pyproject.toml
  libs/deepagents/uv.lock
  libs/harbor/uv.lock
Due: deepagents, deepagents-cli, harbor

fix(cli): tool rendering in TUI (#945)
  libs/deepagents-cli/deepagents_cli/ui.py
  libs/deepagents-cli/deepagents_cli/widgets/messages.py
Due: deepagents-cli

release(cli): 0.0.14 (#952)
  libs/deepagents-cli/deepagents_cli/_version.py
  libs/deepagents-cli/pyproject.toml
  libs/deepagents-cli/uv.lock
  libs/harbor/uv.lock
Due: deepagents-cli, harbor

feat(cli): custom subagents (#916)
  libs/deepagents-cli/deepagents_cli/agent.py
  libs/deepagents-cli/deepagents_cli/config.py
  libs/deepagents-cli/deepagents_cli/subagents.py
  libs/deepagents-cli/tests/unit_tests/test_subagents.py
  libs/deepagents/deepagents/middleware/subagents.py
Due: deepagents, deepagents-cli

release(cli): 0.0.15 (#953)
  libs/deepagents-cli/deepagents_cli/_version.py
  libs/deepagents-cli/pyproject.toml
  libs/deepagents-cli/uv.lock
  libs/harbor/uv.lock
Due: deepagents-cli, harbor

fix(sdk): string interpolation in BaseSandbox write/edit tools (#955)
  libs/deepagents/deepagents/backends/sandbox.py
  libs/deepagents/pyproject.toml
  libs/deepagents/tests/unit_tests/backends/test_sandbox_backend.py
Due: deepagents

chore(deepagents): add sandbox tests to sdk (#898)
  .github/workflows/_test.yml
  libs/deepagents/pyproject.toml
  libs/deepagents/tests/integration_tests/test_summarization.py
  libs/deepagents/tests/unit_tests/middleware/test_summarization_middleware.py
  libs/deepagents/tests/unit_tests/test_local_sandbox_operations.py
Due: deepagents

feat(cli): add `release-please` for automated releases (#907)
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .release-please-manifest.json
  release-please-config.json
Due: none

chore: add `CODEOWNERS` (#963)
  .github/CODEOWNERS
Due: none

fix(cli): improve clipboard copy/paste on macOS (#960)
  libs/cli/deepagents_cli/clipboard.py
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/harbor/uv.lock
Due: harbor

fix(cli): revert, improve clipboard copy/paste on macOS (#964)
  libs/cli/deepagents_cli/clipboard.py
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/harbor/uv.lock
Due: harbor

chore: update `README.md` (#966)
  .github/images/deepagents-banner.png
  .github/images/logo-dark.svg
  .github/images/logo-light.svg
  README.md
  libs/cli/README.md
  libs/cli/images/cli.png
Due: none

chore: flip logo names to fix dark mode (#967)
  .github/images/logo-dark.svg
  .github/images/logo-light.svg
Due: none

feat(infra): add MCP server configuration for `docs-langchain` (#969)
  .mcp.json
Due: none

chore(infra): add descriptions to hooks for clarity (#970)
  .pre-commit-config.yaml
Due: none

chore: add initial `AGENTS.md` for dev (#968)
  AGENTS.md
Due: none

chore: add `markdownlint` configuration file (#971)
  .markdownlint.json
Due: none

chore(cli): cleanup `pyproject.toml` (#972)
  libs/cli/deepagents_cli/agent.py
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/textual_adapter.py
  libs/cli/deepagents_cli/widgets/autocomplete.py
  libs/cli/pyproject.toml
  libs/cli/scripts/check_imports.py
  libs/cli/tests/integration_tests/test_sandbox_operations.py
  libs/cli/tests/unit_tests/test_autocomplete.py
  libs/cli/tests/unit_tests/test_end_to_end.py
  libs/cli/tests/unit_tests/test_sessions.py
  libs/cli/uv.lock
  libs/harbor/uv.lock
Due: harbor

chore(cli): switch to `ty` (#973)
  libs/cli/Makefile
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/harbor/uv.lock
Due: harbor

chore: clean up `README` files (#980)
  libs/cli/README.md
  libs/deepagents/README.md
Due: deepagents

fix(cli): make `pyperclip` hard dep (#985)
  libs/cli/deepagents_cli/clipboard.py
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/harbor/uv.lock
Due: harbor

Path conditions:
  deepagents: any of: ^libs/deepagents/
  deepagents-cli: any of: ^libs/deepagents-cli/
  harbor: any of: ^libs/harbor/
  acp: any of: ^libs/acp/
