Repository therealtimex/deepagents: changes, and which pre-commit hooks are due for each by the changed paths.
All: deepagents, deepagents-cli, harbor, acp

deepagents:
  name: format and lint deepagents
  language: system
  entry: make -C libs/deepagents format lint
  pass_filenames: false

deepagents-cli:
  name: format and lint deepagents-cli
  language: system
  entry: make -C libs/deepagents-cli format lint
  pass_filenames: false

harbor:
  name: format and lint harbor
  language: system
  entry: make -C libs/harbor format lint
  pass_filenames: false

acp:
  name: format and lint acp
  language: system
  entry: make -C libs/acp format lint
  pass_filenames: false

fix(cli): `-m` initial prompt submission (#1184)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/tests/unit_tests/test_app.py
Due: none

docs(cli): correct `--threads` title (#1186)
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/sessions.py
Due: none

refactor(cli): colors (#1187)
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/widgets/welcome.py
Due: none

style(cli): rfc `--help`/`-h` banner (#1188)
  libs/cli/deepagents_cli/ui.py
Due: none

fix(cli): per-subcommand help screens, short flags, and skills enhancements (#1190)
  libs/cli/deepagents_cli/agent.py
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/skills/commands.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/examples/skills/skill-creator/SKILL.md
  libs/cli/tests/unit_tests/skills/test_commands.py
  libs/cli/tests/unit_tests/test_agent.py
  libs/cli/tests/unit_tests/test_args.py
  libs/cli/tests/unit_tests/test_version.py
Due: none

feat(cli): built-in skills, ship `skill-creator` as first (#1191)
  libs/cli/deepagents_cli/agent.py
  libs/cli/deepagents_cli/built_in_skills/__init__.py
  libs/cli/deepagents_cli/built_in_skills/skill-creator/SKILL.md
  libs/cli/deepagents_cli/built_in_skills/skill-creator/scripts/init_skill.py
  libs/cli/deepagents_cli/built_in_skills/skill-creator/scripts/quick_validate.py
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/skills/commands.py
  libs/cli/deepagents_cli/skills/load.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/pyproject.toml
  libs/cli/tests/unit_tests/skills/test_commands.py
  libs/cli/tests/unit_tests/skills/test_load.py
  libs/cli/tests/unit_tests/test_agent.py
Due: none

fix(sdk): harden skills metadata parsing, improve spec compliance (#1189)
  libs/deepagents/deepagents/middleware/skills.py
  libs/deepagents/tests/unit_tests/middleware/test_skills_middleware.py
Due: deepagents

fix(cli): port skills behavior from SDK (#1192)
  libs/cli/deepagents_cli/built_in_skills/skill-creator/SKILL.md
  libs/cli/deepagents_cli/built_in_skills/skill-creator/scripts/init_skill.py
  libs/cli/deepagents_cli/built_in_skills/skill-creator/scripts/quick_validate.py
  libs/cli/deepagents_cli/skills/commands.py
  libs/cli/tests/unit_tests/skills/test_commands.py
Due: none

feat(cli): enrich built-in skill metadata with license and compatibility info (#1193)
  libs/cli/deepagents_cli/built_in_skills/skill-creator/SKILL.md
  libs/cli/deepagents_cli/skills/load.py
  libs/cli/tests/unit_tests/skills/test_load.py
Due: none

feat(cli): non-interactive mode w/ shell allow-listing (#909)
  libs/cli/deepagents_cli/agent.py
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/non_interactive.py
  libs/cli/deepagents_cli/textual_adapter.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/deepagents_cli/widgets/approval.py
  libs/cli/deepagents_cli/widgets/welcome.py
  libs/cli/tests/unit_tests/test_approval.py
  libs/cli/tests/unit_tests/test_config.py
  libs/cli/tests/unit_tests/test_main_args.py
  libs/cli/tests/unit_tests/test_non_interactive.py
  libs/cli/tests/unit_tests/test_shell_allow_list.py
Due: none

fix(cli): terminal virtualize scrolling to stop perf issues (#965)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/textual_adapter.py
  libs/cli/deepagents_cli/widgets/message_store.py
  libs/cli/deepagents_cli/widgets/messages.py
  libs/cli/tests/unit_tests/test_app.py
  libs/cli/tests/unit_tests/test_message_store.py
Due: none

chore: update `AGENTS.md` (#1199)
  AGENTS.md
Due: none

refactor(cli): thread message formatting (#1198)
  libs/cli/deepagents_cli/main.py
Due: none

style(cli): add parrot to splash (#1137)
  libs/cli/deepagents_cli/config.py
Due: none

feat(cli): add docs link to `/help` (#1098)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/ui.py
Due: none

feat(cli): `--quiet` flag to suppress non-agent output w/ `-n` (#1201)
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/non_interactive.py
  libs/cli/tests/unit_tests/test_args.py
  libs/cli/tests/unit_tests/test_non_interactive.py
Due: none

feat(cli): implement message queue for CLI (#1197)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/widgets/chat_input.py
  libs/cli/deepagents_cli/widgets/messages.py
  libs/cli/tests/unit_tests/test_app.py
Due: none

fix(cli): harden dictionary iteration and HITL fallback handling (#1151)
  libs/cli/deepagents_cli/textual_adapter.py
  libs/cli/tests/unit_tests/test_textual_adapter.py
Due: none

ci(cli): add SDK version pin check to CI and release workflows (#1203)
  .github/workflows/check_versions.yml
  .github/workflows/release.yml
Due: none

fix(cli): update splash thread ID on `/clear` (#1204)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/widgets/welcome.py
  libs/cli/tests/unit_tests/test_welcome.py
Due: none

build(deepagents): finalize version to 0.3.12
  libs/deepagents/pyproject.toml
Due: deepagents

refactor(deepagents): align realtimex graph with core design
  libs/deepagents/deepagents/realtimex_graph.py
Due: deepagents

build(deepagents): update uv.lock for 0.3.12 release
  libs/deepagents/uv.lock
Due: deepagents

feat: add partner packages for modal and runloop (#1207)
  libs/partners/daytona/langchain_daytona/__init__.py
  libs/partners/daytona/langchain_daytona/sandbox.py
  libs/partners/daytona/tests/unit_tests/__init__.py
  libs/partners/daytona/tests/unit_tests/test_import.py
  libs/partners/modal/LICENSE
  libs/partners/modal/Makefile
  libs/partners/modal/README.md
  libs/partners/modal/langchain_modal/__init__.py
  libs/partners/modal/langchain_modal/sandbox.py
  libs/partners/modal/pyproject.toml
  libs/partners/modal/tests/__init__.py
  libs/partners/modal/tests/test_import.py
  libs/partners/modal/tests/unit_tests/__init__.py
  libs/partners/modal/tests/unit_tests/test_import.py
  libs/partners/modal/uv.lock
  libs/partners/runloop/LICENSE
  libs/partners/runloop/Makefile
  libs/partners/runloop/README.md
  libs/partners/runloop/langchain_runloop/__init__.py
  libs/partners/runloop/langchain_runloop/sandbox.py
  libs/partners/runloop/pyproject.toml
  libs/partners/runloop/tests/__init__.py
  libs/partners/runloop/tests/test_import.py
  libs/partners/runloop/tests/unit_tests/__init__.py
  libs/partners/runloop/tests/unit_tests/test_import.py
  libs/partners/runloop/uv.lock
Due: none

chore(infra): add modal and runloop to ci (#1208)
  .github/workflows/ci.yml
  libs/partners/modal/uv.lock
  libs/partners/runloop/langchain_runloop/__init__.py
  libs/partners/runloop/uv.lock
Due: none

chore(daytona): minor fix (#1210)
  libs/partners/daytona/langchain_daytona/sandbox.py
Due: none

chore: standardize init in partner packages (#1211)
  libs/partners/daytona/langchain_daytona/sandbox.py
  libs/partners/modal/langchain_modal/sandbox.py
  libs/partners/runloop/langchain_runloop/sandbox.py
Due: none

chore(infra): register partner packages with release workflow (#1212)
  .github/workflows/release.yml
Due: none

release(daytona): 0.0.2 (#1213)
  libs/partners/daytona/pyproject.toml
  libs/partners/daytona/uv.lock
Due: none

refactor(sdk): move function-level test imports out to top (#1168)
  libs/deepagents/pyproject.toml
  libs/deepagents/tests/integration_tests/test_filesystem_middleware.py
  libs/deepagents/tests/integration_tests/test_subagent_middleware.py
  libs/deepagents/tests/unit_tests/backends/test_composite_backend.py
  libs/deepagents/tests/unit_tests/backends/test_filesystem_backend.py
  libs/deepagents/tests/unit_tests/backends/test_filesystem_backend_async.py
  libs/deepagents/tests/unit_tests/backends/test_state_backend.py
  libs/deepagents/tests/unit_tests/backends/test_state_backend_async.py
  libs/deepagents/tests/unit_tests/backends/test_store_backend.py
  libs/deepagents/tests/unit_tests/test_middleware.py
  libs/deepagents/tests/unit_tests/test_middleware_async.py
Due: deepagents

feat(acp): Bump ACP version (#1214)
  libs/acp/pyproject.toml
  libs/acp/uv.lock
Due: acp

release: runloop 0.0.2 (#1219)
  libs/partners/runloop/README.md
  libs/partners/runloop/langchain_runloop/sandbox.py
  libs/partners/runloop/pyproject.toml
  libs/partners/runloop/uv.lock
Due: none

chore(sdk)!: move sandbox provider back to cli (#1226)
  libs/cli/deepagents_cli/integrations/__init__.py
  libs/cli/deepagents_cli/integrations/daytona.py
  libs/cli/deepagents_cli/integrations/langsmith.py
  libs/cli/deepagents_cli/integrations/modal.py
  libs/cli/deepagents_cli/integrations/runloop.py
  libs/cli/deepagents_cli/integrations/sandbox_factory.py
  libs/cli/deepagents_cli/integrations/sandbox_provider.py
  libs/deepagents/deepagents/backends/sandbox.py
  libs/deepagents/tests/unit_tests/test_sandbox_provider.py
Due: deepagents

chore: update dependabot.yml to comply with posture checks (#1229)
  .github/dependabot.yml
Due: none

fix(sdk): relax skills parsing for allowed tools (#1232)
  libs/deepagents/deepagents/middleware/skills.py
  libs/deepagents/tests/unit_tests/middleware/test_skills_middleware.py
Due: deepagents

fix(deepagents): Fix documentation link in Agents.md (#1231)
  AGENTS.md
Due: none

chore(sdk): add support for `,` in allowed-tools, fail gently for bullet list (#1235)
  libs/deepagents/deepagents/middleware/skills.py
  libs/deepagents/tests/unit_tests/middleware/test_skills_middleware.py
Due: deepagents

release(deepagents): 0.4 (#1234)
  libs/cli/pyproject.toml
  libs/cli/tests/unit_tests/test_end_to_end.py
  libs/cli/uv.lock
  libs/deepagents/deepagents/graph.py
  libs/deepagents/deepagents/middleware/summarization.py
  libs/deepagents/pyproject.toml
  libs/deepagents/tests/integration_tests/test_summarization.py
  libs/deepagents/tests/unit_tests/middleware/test_summarization_middleware.py
  libs/deepagents/uv.lock
  libs/harbor/uv.lock
  libs/partners/daytona/uv.lock
  libs/partners/modal/uv.lock
  libs/partners/runloop/uv.lock
Due: deepagents, harbor

release(sdk): 0.4.0 (#1236)
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/deepagents/deepagents/_version.py
  libs/deepagents/pyproject.toml
  libs/deepagents/uv.lock
  libs/harbor/uv.lock
  libs/partners/daytona/uv.lock
  libs/partners/modal/uv.lock
  libs/partners/runloop/uv.lock
Due: deepagents, harbor

Path conditions:
  deepagents: any of: ^libs/deepagents/
  deepagents-cli: any of: ^libs/deepagents-cli/
  harbor: any of: ^libs/harbor/
  acp: any of: ^libs/acp/
