Repository therealtimex/deepagents: changes, and which pre-commit hooks are due for each by the changed paths.
All: deepagents, deepagents-cli, harbor, acp

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: ["--branch", "master"]
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.ambr$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces

  - repo: local
    hooks:
      - id: deepagents
        name: format and lint deepagents
        language: system
        entry: make -C libs/deepagents format lint
        files: ^libs/deepagents/
        pass_filenames: false
      - id: deepagents-cli
        name: format and lint deepagents-cli
        language: system
        entry: make -C libs/deepagents-cli format lint
        files: ^libs/deepagents-cli/
        pass_filenames: false
      - id: harbor
        name: format and lint harbor
        language: system
        entry: make -C libs/harbor format lint
        files: ^libs/harbor/
        pass_filenames: false
      - id: acp
        name: format and lint acp
        language: system
        entry: make -C libs/acp format lint
        files: ^libs/acp/
        pass_filenames: false

feat(cli): update system & default prompt (#1293)
  libs/cli/deepagents_cli/agent.py
  libs/cli/deepagents_cli/default_agent_prompt.md
  libs/cli/deepagents_cli/system_prompt.md
Due: none

feat(sdk): add base agent prompt (#1314)
  libs/deepagents/deepagents/base_prompt.md
  libs/deepagents/deepagents/graph.py
  libs/deepagents/tests/unit_tests/test_end_to_end.py
Due: deepagents

chore(acp): release 0.0.4 (#1325)
  libs/acp/pyproject.toml
  libs/acp/uv.lock
Due: acp

revert(sdk): reimplement skill loading via `skill` tool calling (#1328)
  libs/deepagents/deepagents/middleware/skills.py
  libs/deepagents/deepagents/middleware/subagents.py
  libs/deepagents/tests/unit_tests/middleware/test_skills_middleware.py
Due: deepagents

chore(sdk): move some integration tests into unit tests (#1330)
  libs/deepagents/tests/integration_tests/test_deepagents.py
  libs/deepagents/tests/integration_tests/test_filesystem_middleware.py
  libs/deepagents/tests/integration_tests/test_subagent_middleware.py
  libs/deepagents/tests/unit_tests/middleware/test_filesystem_middleware_init.py
  libs/deepagents/tests/unit_tests/middleware/test_subagent_middleware_init.py
  libs/deepagents/tests/unit_tests/test_end_to_end.py
Due: deepagents

fix(acp): Fix mode switching for ACP client (#1331)
  libs/acp/deepagents_acp/server.py
  libs/acp/tests/test_agent.py
Due: acp

feat(acp): Add local context middleware to ACP example agent, update script working dir (#1332)
  libs/acp/examples/demo_agent.py
  libs/acp/run_demo_agent.sh
Due: acp

fix(acp): Fix double approval bug (#1335)
  libs/acp/deepagents_acp/server.py
  libs/acp/tests/test_agent.py
Due: acp

chore(deepagents): correct package name and version
  libs/deepagents/pyproject.toml
  libs/deepagents/uv.lock
Due: deepagents

feat(cli): add `langchain-openrouter` (#1340)
  libs/cli/deepagents_cli/model_config.py
  libs/cli/pyproject.toml
  libs/cli/tests/unit_tests/test_model_config.py
  libs/cli/uv.lock
  libs/harbor/uv.lock
Due: harbor

style(examples): update logo markup for better responsiveness (#1341)
  examples/README.md
Due: none

fix(cli): handle `None` selection endpoint, `IndexError` in clipboard copy (#1342)
  libs/cli/deepagents_cli/clipboard.py
Due: none

feat(acp): Show raw input in tool calls (#1349)
  libs/acp/deepagents_acp/server.py
Due: acp

fix(deepagents): sync realtimex_graph with upstream graph
  libs/deepagents/deepagents/realtimex_graph.py
Due: deepagents

fix(filesystem): restore RealTimeX path compatibility
  libs/deepagents/deepagents/backends/filesystem.py
Due: deepagents

chore(realtimex): align repo with main outside deepagents customizations
  .github/images/deepagents_banner.png
  examples/README.md
  libs/acp/deepagents_acp/agent.py
  libs/acp/deepagents_acp/server.py
  libs/acp/run.sh
  libs/acp/tests/conftest.py
  libs/cli/deepagents_cli/agent_memory.py
  libs/cli/deepagents_cli/clipboard.py
  libs/cli/deepagents_cli/commands.py
  libs/cli/deepagents_cli/execution.py
  libs/cli/deepagents_cli/model_config.py
  libs/cli/deepagents_cli/skills/middleware.py
  libs/cli/deepagents_cli/token_utils.py
  libs/cli/pyproject.toml
  libs/cli/tests/integration_tests/benchmarks/test_simple_tasks.py
  libs/cli/tests/test_project_memory.py
  libs/cli/tests/unit_tests/test_model_config.py
  libs/cli/uv.lock
  libs/deepagents/uv.lock
  libs/harbor/uv.lock
Due: deepagents, harbor, acp

docs(realtimex): add upgrade playbook and verification script
  README.md
  docs/realtimex/README.md
  docs/realtimex/scripts/verify_upgrade.py
  docs/realtimex/upgrade_playbook.md
Due: none

refactor(deepagents): remove enable_shell from realtimex graph api
  libs/deepagents/deepagents/realtimex_graph.py
Due: deepagents

fix(deepagents): align realtimex verify invariants with shellless graph
  docs/realtimex/scripts/verify_upgrade.py
Due: none

docs(deepagents): align realtimex upgrade playbook with prompt-only graph
  docs/realtimex/upgrade_playbook.md
Due: none

release(deepagents): 0.4.2.post1
  libs/deepagents/pyproject.toml
  libs/deepagents/uv.lock
Due: deepagents

fix(deepagents): treat prompt alias as final prompt
  libs/deepagents/deepagents/realtimex_graph.py
Due: deepagents

chore(deepagents): bump version to 0.4.2.post2
  libs/deepagents/pyproject.toml
  libs/deepagents/uv.lock
Due: deepagents

docs(realtimex): rebuild RealTimeX documentation
  docs/realtimex/README.md
  docs/realtimex/scripts/verify_upgrade.py
  docs/realtimex/upgrade_playbook.md
Due: none
