Repository therealtimex/deepagents: changes, and which pre-commit hooks are due for each by the changed paths.
All: deepagents, deepagents-cli, harbor, acp

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch
        args: ["--branch", "master"]
      - id: check-yaml
        args: ["--unsafe"]
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
        exclude: \.ambr$

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces

  - repo: local
    hooks:
      - id: deepagents
        name: format and lint deepagents
        language: system
        entry: make -C libs/deepagents format lint
        files: ^libs/deepagents/
        pass_filenames: false
      - id: deepagents-cli
        name: format and lint deepagents-cli
        language: system
        entry: make -C libs/deepagents-cli format lint
        files: ^libs/deepagents-cli/
        pass_filenames: false
      - id: harbor
        name: format and lint harbor
        language: system
        entry: make -C libs/harbor format lint
        files: ^libs/harbor/
        pass_filenames: false
      - id: acp
        name: format and lint acp
        language: system
        entry: make -C libs/acp format lint
        files: ^libs/acp/
        pass_filenames: false

feat(cli): model switcher & arbitrary chat model support (#1127)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/model_config.py
  libs/cli/deepagents_cli/non_interactive.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/deepagents_cli/widgets/autocomplete.py
  libs/cli/deepagents_cli/widgets/model_selector.py
  libs/cli/deepagents_cli/widgets/status.py
  libs/cli/pyproject.toml
  libs/cli/tests/unit_tests/test_config.py
  libs/cli/tests/unit_tests/test_main_args.py
  libs/cli/tests/unit_tests/test_model_config.py
  libs/cli/tests/unit_tests/test_model_selector.py
  libs/cli/tests/unit_tests/test_model_switch.py
  libs/cli/tests/unit_tests/test_non_interactive.py
  libs/cli/uv.lock
  libs/harbor/uv.lock
Due: harbor

hotfix(cli): pin next release version to 0.0.20 (#1237)
  release-please-config.json
Due: none

hotfix(cli): undo #1237 (#1238)
  release-please-config.json
Due: none

fix(infra): add missing `-o` flag to grep for contributor social links (#1239)
  .github/workflows/release.yml
Due: none

chore: rename `master` to `main` (#984)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/RELEASING.md
  .github/workflows/check_lockfiles.yml
  .github/workflows/ci.yml
  .github/workflows/release-please.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  examples/downloading_agents/README.md
  examples/ralph_mode/README.md
  examples/text-to-sql-agent/pyproject.toml
  libs/acp/Makefile
  libs/cli/Makefile
  libs/cli/README.md
  libs/cli/pyproject.toml
  libs/deepagents/Makefile
  libs/harbor/Makefile
  libs/partners/daytona/Makefile
  libs/partners/daytona/pyproject.toml
  libs/partners/modal/Makefile
  libs/partners/modal/pyproject.toml
  libs/partners/runloop/Makefile
  libs/partners/runloop/pyproject.toml
Due: deepagents, harbor, acp

feat(cli): support piped stdin as prompt input (#1254)
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/non_interactive.py
  libs/cli/tests/unit_tests/test_args.py
  libs/cli/tests/unit_tests/test_main_args.py
  libs/cli/tests/unit_tests/test_non_interactive.py
Due: none

refactor(sdk): use public `SummarizationMiddleware` middleware (#1241)
  libs/deepagents/deepagents/graph.py
Due: deepagents

chore(cli): remove dead code (#1242)
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/file_ops.py
Due: none

fix(cli): fix stale model settings during model hot-swap (#1257)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/config.py
  libs/cli/tests/unit_tests/test_model_switch.py
Due: none

fix(infra): label PR on msg scope (#1258)
  .github/workflows/pr_labeler_title.yml
Due: none

chore(cli): make link to docs clickable (#1259)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/deepagents_cli/widgets/message_store.py
  libs/cli/deepagents_cli/widgets/messages.py
  libs/cli/tests/unit_tests/test_model_config.py
Due: none

chore(cli): clean up changelog formatting (#1260)
  libs/cli/CHANGELOG.md
Due: none

feat(cli): add `/changelog`, `/feedback`, `/docs` (#1261)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/app.tcss
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/deepagents_cli/widgets/autocomplete.py
  libs/cli/deepagents_cli/widgets/chat_input.py
Due: none

feat(sdk): return native image content blocks from read_file (#1163)
  libs/deepagents/deepagents/middleware/filesystem.py
  libs/deepagents/tests/unit_tests/test_middleware.py
Due: deepagents

chore: migrate to uv workspace (#1264)
  .github/actions/uv_setup/action.yml
  .github/workflows/check_lockfiles.yml
  .github/workflows/check_versions.yml
  libs/acp/pyproject.toml
  libs/acp/uv.lock
  libs/cli/pyproject.toml
  libs/deepagents/uv.lock
  libs/harbor/uv.lock
  libs/partners/daytona/pyproject.toml
  libs/partners/daytona/uv.lock
  libs/partners/modal/pyproject.toml
  libs/partners/modal/uv.lock
  libs/partners/runloop/pyproject.toml
  libs/partners/runloop/uv.lock
  pyproject.toml
  uv.lock
Due: deepagents, harbor, acp

release(sdk): 0.4.1 (#1269)
  libs/deepagents/deepagents/_version.py
  libs/deepagents/pyproject.toml
  uv.lock
Due: deepagents

chore: update artifact version in release workflow (#1273)
  .github/workflows/release.yml
Due: none

Revert "chore: update artifact version in release workflow (#1273)" (#1274)
  .github/workflows/release.yml
Due: none

fix: unblock release by writing to dist (#1276)
  .github/workflows/release.yml
Due: none

chore: rollback uv workspace migration, restore per-package lockfiles (#1278)
  .github/actions/uv_setup/action.yml
  .github/workflows/check_lockfiles.yml
  .github/workflows/release.yml
  Makefile
  libs/acp/pyproject.toml
  libs/acp/uv.lock
  libs/cli/pyproject.toml
  libs/cli/uv.lock
  libs/deepagents/uv.lock
  libs/partners/daytona/pyproject.toml
  libs/partners/daytona/uv.lock
  libs/partners/modal/pyproject.toml
  libs/partners/modal/uv.lock
  libs/partners/runloop/pyproject.toml
  libs/partners/runloop/uv.lock
  pyproject.toml
Due: deepagents, acp

chore: reparameterize init, improve test coverage (#1279)
  libs/acp/Makefile
  libs/acp/deepagents_acp/agent.py
  libs/acp/pyproject.toml
  libs/acp/run.sh
  libs/acp/tests/conftest.py
  libs/acp/tests/test_agent.py
  libs/acp/tests/test_main.py
  libs/acp/tests/test_utils.py
  libs/acp/uv.lock
Due: acp

feat(cli): `/threads` command switcher (#1262)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/sessions.py
  libs/cli/deepagents_cli/widgets/autocomplete.py
  libs/cli/deepagents_cli/widgets/thread_selector.py
  libs/cli/tests/unit_tests/test_sessions.py
  libs/cli/tests/unit_tests/test_thread_selector.py
Due: none

chore: rename interface (#1281)
  libs/acp/README.md
  libs/acp/deepagents_acp/__main__.py
  libs/acp/deepagents_acp/server.py
  libs/acp/tests/test_agent.py
Due: acp

chore: another minor fix in acp (#1282)
  libs/acp/deepagents_acp/__main__.py
  libs/acp/deepagents_acp/server.py
Due: acp

chore(acp): subagent streaming for tools (#1284)
  libs/acp/deepagents_acp/server.py
  libs/acp/pyproject.toml
  libs/acp/tests/test_agent.py
Due: acp

chore(acp): more parameterization fixes to allow arbitrary agent (#1286)
  libs/acp/deepagents_acp/server.py
  libs/acp/tests/test_agent.py
Due: acp

release(acp): 0.0.2 (#1288)
  libs/acp/pyproject.toml
  libs/acp/uv.lock
Due: acp

feat(cli): show langsmith thread url on session teardown (#1285)
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/non_interactive.py
  libs/cli/tests/unit_tests/test_config.py
  libs/cli/tests/unit_tests/test_main.py
  libs/cli/tests/unit_tests/test_non_interactive.py
Due: none

chore(acp): automatically attach checkpointer if missing (#1294)
  libs/acp/README.md
  libs/acp/deepagents_acp/server.py
  libs/acp/tests/test_agent.py
Due: acp

feat(cli): add `/trace` command to open LangSmith thread, link in switcher (#1291)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/widgets/autocomplete.py
  libs/cli/deepagents_cli/widgets/thread_selector.py
  libs/cli/tests/unit_tests/skills/test_commands.py
  libs/cli/tests/unit_tests/test_app.py
  libs/cli/tests/unit_tests/test_non_interactive.py
  libs/cli/tests/unit_tests/test_thread_selector.py
Due: none

feat(cli): make thread link clickable when switching (#1296)
  libs/cli/deepagents_cli/app.py
  libs/cli/tests/unit_tests/test_thread_selector.py
Due: none

hotfix(cli): sdk version pin (#1298)
  .github/workflows/check_cli_sdk_pin.yml
  libs/cli/pyproject.toml
Due: none

feat(acp): Adds execute tool handling, allow of type permissions, demo coding agent (#1302)
  libs/acp/README.md
  libs/acp/deepagents_acp/__main__.py
  libs/acp/deepagents_acp/server.py
  libs/acp/deepagents_acp/utils.py
  libs/acp/examples/demo_agent.py
  libs/acp/pyproject.toml
  libs/acp/run.sh
  libs/acp/run_demo_agent.sh
  libs/acp/tests/test_agent.py
  libs/acp/tests/test_command_allowlist.py
  libs/acp/uv.lock
Due: acp

release(acp): 0.0.3 (#1310)
  libs/acp/pyproject.toml
  libs/acp/uv.lock
Due: acp

chore(cli): UTM tag (#1311)
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/widgets/welcome.py
  libs/cli/tests/unit_tests/test_config.py
  libs/cli/tests/unit_tests/test_welcome.py
Due: none

feat(sdk): reimplement skill loading via `skill` tool calling (#1306)
  libs/deepagents/deepagents/middleware/skills.py
  libs/deepagents/deepagents/middleware/subagents.py
  libs/deepagents/tests/unit_tests/middleware/test_skills_middleware.py
Due: deepagents

release(sdk): 0.4.2 (#1312)
  libs/cli/uv.lock
  libs/deepagents/deepagents/_version.py
  libs/deepagents/pyproject.toml
  libs/deepagents/uv.lock
  libs/harbor/uv.lock
  libs/partners/daytona/uv.lock
  libs/partners/modal/uv.lock
  libs/partners/runloop/uv.lock
Due: deepagents, harbor

feat(infra): ensure dep group version match for CLI (#1316)
  .github/workflows/check_extras_sync.yml
  libs/cli/Makefile
  libs/cli/pyproject.toml
  libs/cli/scripts/check_extras_sync.py
  libs/cli/uv.lock
  libs/harbor/uv.lock
Due: harbor

chore(cli): update `README.md` (#1315)
  libs/cli/README.md
Due: none

refactor(infra): move cli check script (#1318)
  .github/scripts/check_extras_sync.py
  .github/workflows/check_extras_sync.yml
  libs/cli/Makefile
Due: none
