Repository therealtimex/deepagents: changes, and which pre-commit hooks are due for each by the changed paths.
All: deepagents, deepagents-cli, harbor, acp

deepagents:
  name: format and lint deepagents
  language: system
  entry: make -C libs/deepagents format lint
  pass_filenames: false

deepagents-cli:
  name: format and lint deepagents-cli
  language: system
  entry: make -C libs/deepagents-cli format lint
  pass_filenames: false

harbor:
  name: format and lint harbor
  language: system
  entry: make -C libs/harbor format lint
  pass_filenames: false

acp:
  name: format and lint acp
  language: system
  entry: make -C libs/acp format lint
  pass_filenames: false

refactor(infra): ordering of tests (#1109)
  .github/RELEASING.md
  .github/workflows/release.yml
Due: none

chore(examples): fix path on readme (#1112)
  examples/README.md
Due: none

fix(cli): rename `SystemMessage` -> `AppMessage` (#1113)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/textual_adapter.py
  libs/cli/deepagents_cli/widgets/__init__.py
  libs/cli/deepagents_cli/widgets/messages.py
  libs/cli/tests/unit_tests/test_messages.py
Due: none

style(cli): update welcome banner color for editable install (#1121)
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/widgets/welcome.py
  libs/cli/tests/unit_tests/test_charset.py
Due: none

fix(cli): update help text to include `Esc` key for rejection (#1122)
  libs/cli/deepagents_cli/widgets/approval.py
Due: none

fix(cli): disable iTerm2 cursor guide during execution (#1123)
  libs/cli/deepagents_cli/app.py
  libs/cli/tests/unit_tests/test_app.py
Due: none

fix(cli): unify spinner API to support dynamic status text (#1124)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/textual_adapter.py
  libs/cli/tests/unit_tests/test_textual_adapter.py
Due: none

fix(cli): propagate app errors instead of masking (#1126)
  libs/cli/deepagents_cli/main.py
Due: none

fix(cli): dismiss modal screens on escape key (#1128)
  libs/cli/deepagents_cli/app.py
  libs/cli/tests/unit_tests/test_app.py
Due: none

test(cli): add CSS validation test (#1129)
  libs/cli/tests/unit_tests/test_app.py
Due: none

feat(cli): add click support and hover styling to autocomplete popup (#1130)
  libs/cli/deepagents_cli/widgets/chat_input.py
  libs/cli/tests/unit_tests/test_chat_input.py
Due: none

style(cli): `local` instead of `local install` suffix (#1133)
  libs/cli/deepagents_cli/config.py
  libs/cli/deepagents_cli/widgets/welcome.py
  libs/cli/tests/unit_tests/test_charset.py
Due: none

chore: `README.md` nit (#1134)
  README.md
Due: none

fix(cli): hide resume hint on app error and improve startup message (#1135)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/main.py
  libs/cli/tests/unit_tests/test_main.py
Due: none

feat(cli): use LocalShellBackend, gives shell to subagents (#1107)
  libs/cli/deepagents_cli/agent.py
  libs/cli/deepagents_cli/main.py
  libs/cli/deepagents_cli/shell.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/tests/unit_tests/test_agent.py
  libs/cli/tests/unit_tests/test_shell.py
  libs/cli/tests/unit_tests/test_ui.py
Due: none

feat(sdk): add sandbox provider exceptions (#1108)
  libs/deepagents/deepagents/backends/sandbox.py
Due: deepagents

chore(daytona): add integration package for daytona (#1140)
  .github/workflows/ci.yml
  .github/workflows/pr_lint.yml
  libs/partners/daytona/LICENSE
  libs/partners/daytona/Makefile
  libs/partners/daytona/README.md
  libs/partners/daytona/langchain_daytona/__init__.py
  libs/partners/daytona/langchain_daytona/sandbox.py
  libs/partners/daytona/pyproject.toml
  libs/partners/daytona/tests/__init__.py
  libs/partners/daytona/tests/test_import.py
  libs/partners/daytona/uv.lock
Due: none

chore(infra): update release workflow options (#1144)
  .github/workflows/release.yml
Due: none

chore(infra): fix path to daytona in release workflow (#1146)
  .github/workflows/release.yml
Due: none

chore(infra): attempt 3 at fixing release for daytona (#1147)
  .github/workflows/release.yml
Due: none

chore(infra): attempt 4 to release daytona (#1148)
  .github/workflows/release.yml
Due: none

chore(daytona): refactor name (#1149)
  .github/workflows/release.yml
  libs/partners/daytona/README.md
  libs/partners/daytona/langchain_daytona/__init__.py
  libs/partners/daytona/pyproject.toml
Due: none

chore(infra): update `AGENTS.md` for inline code formatting guidelines (#1150)
  AGENTS.md
Due: none

refactor(cli): reorder property -> method order in `SandboxBackendProtocol` (#1153)
  libs/deepagents/deepagents/backends/protocol.py
Due: deepagents

fix(sdk): add explicit `NotImplementedError` to protocol method bodies (#1152)
  libs/deepagents/deepagents/backends/protocol.py
  libs/deepagents/tests/unit_tests/backends/test_protocol.py
Due: deepagents

fix(cli): remove Interactive Features from --help output (#1161)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/tests/unit_tests/test_version.py
Due: none

feat(cli): make thread id in splash clickable (#1159)
  libs/cli/deepagents_cli/textual_adapter.py
  libs/cli/deepagents_cli/widgets/welcome.py
  libs/cli/tests/unit_tests/test_textual_adapter.py
  libs/cli/tests/unit_tests/test_welcome.py
Due: none

feat(cli): add per-command `timeout` override to `execute` tool (#1158)
  libs/cli/deepagents_cli/agent.py
  libs/cli/deepagents_cli/backends.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/tests/unit_tests/test_backend_timeout.py
Due: none

feat(cli): highlight file mentions and support CJK parsing (#558)
  libs/cli/deepagents_cli/input.py
  libs/cli/deepagents_cli/widgets/messages.py
  libs/cli/tests/unit_tests/test_input_parsing.py
  libs/cli/tests/unit_tests/test_messages.py
Due: none

refactor(cli): move imports to top level (#1167)
  libs/cli/deepagents_cli/local_context.py
  libs/cli/deepagents_cli/widgets/messages.py
  libs/cli/deepagents_cli/widgets/welcome.py
  libs/cli/pyproject.toml
  libs/cli/tests/unit_tests/test_config.py
  libs/cli/tests/unit_tests/test_exception_handling.py
  libs/cli/tests/unit_tests/test_main.py
  libs/cli/tests/unit_tests/test_sessions.py
Due: none

fix(deepagents): refactor summarization middleware (#1138)
  libs/cli/tests/unit_tests/test_end_to_end.py
  libs/cli/uv.lock
  libs/deepagents/deepagents/graph.py
  libs/deepagents/deepagents/middleware/summarization.py
  libs/deepagents/pyproject.toml
  libs/deepagents/tests/integration_tests/test_summarization.py
  libs/deepagents/tests/unit_tests/middleware/test_summarization_middleware.py
  libs/deepagents/uv.lock
  libs/harbor/uv.lock
  libs/partners/daytona/uv.lock
Due: deepagents, harbor

revert(deepagents): refactor summarization middleware (#1172)
  libs/cli/tests/unit_tests/test_end_to_end.py
  libs/cli/uv.lock
  libs/deepagents/deepagents/graph.py
  libs/deepagents/deepagents/middleware/summarization.py
  libs/deepagents/pyproject.toml
  libs/deepagents/tests/integration_tests/test_summarization.py
  libs/deepagents/tests/unit_tests/middleware/test_summarization_middleware.py
  libs/deepagents/uv.lock
  libs/harbor/uv.lock
  libs/partners/daytona/uv.lock
Due: deepagents, harbor

feat(sdk): refactor namespace gen for StoreBackend (#1169)
  libs/deepagents/deepagents/backends/__init__.py
  libs/deepagents/deepagents/backends/store.py
  libs/deepagents/tests/unit_tests/backends/test_store_backend.py
Due: deepagents

release(sdk): deepagents 0.3.12 (#1175)
  libs/cli/uv.lock
  libs/deepagents/deepagents/_version.py
  libs/deepagents/pyproject.toml
  libs/deepagents/uv.lock
  libs/harbor/uv.lock
  libs/partners/daytona/uv.lock
Due: deepagents, harbor

feat(cli): support custom working directories and LangSmith sandbox templates (#1099)
  libs/cli/deepagents_cli/integrations/langsmith.py
Due: none

style: update brand names (#1180)
  examples/deep_research/README.md
  libs/acp/README.md
  libs/acp/deepagents_acp/agent.py
  libs/deepagents/deepagents/graph.py
Due: deepagents, acp

fix(cli): align skill-creator example scripts with agent skills spec (#1177)
  libs/cli/examples/skills/skill-creator/SKILL.md
  libs/cli/examples/skills/skill-creator/scripts/init_skill.py
  libs/cli/examples/skills/skill-creator/scripts/quick_validate.py
Due: none

fix(cli): rewrite skills create template to match spec guidance (#1178)
  libs/cli/deepagents_cli/skills/commands.py
  libs/cli/tests/unit_tests/skills/test_commands.py
Due: none

docs(cli): behavior about skills locations & creation (#1179)
  libs/cli/deepagents_cli/skills/commands.py
  libs/cli/examples/skills/skill-creator/SKILL.md
Due: none

chore: dependabot (#1181)
  .github/dependabot.yml
Due: none

Path conditions:
  deepagents: any of: ^libs/deepagents/
  deepagents-cli: any of: ^libs/deepagents-cli/
  harbor: any of: ^libs/harbor/
  acp: any of: ^libs/acp/
