Repository therealtimex/deepagents: changes, and which pre-commit hooks are due for each by the changed paths.
All: deepagents, deepagents-cli, harbor, acp

deepagents:
  name: format and lint deepagents
  language: system
  entry: make -C libs/deepagents format lint
  pass_filenames: false

deepagents-cli:
  name: format and lint deepagents-cli
  language: system
  entry: make -C libs/deepagents-cli format lint
  pass_filenames: false

harbor:
  name: format and lint harbor
  language: system
  entry: make -C libs/harbor format lint
  pass_filenames: false

acp:
  name: format and lint acp
  language: system
  entry: make -C libs/acp format lint
  pass_filenames: false

feat(cli): add configurable timeout to `ShellMiddleware` (#961)
  libs/cli/deepagents_cli/shell.py
  libs/cli/tests/unit_tests/test_shell.py
Due: none

fix(cli): update timeout message for long-running commands in `ShellMiddleware` (#986)
  libs/cli/deepagents_cli/shell.py
Due: none

feat(cli): add timeout formatting to enhance `shell` command display (#987)
  libs/cli/deepagents_cli/shell.py
  libs/cli/deepagents_cli/ui.py
  libs/cli/tests/unit_tests/test_ui.py
Due: none

feat(cli): display thread ID at splash (#988)
  libs/cli/deepagents_cli/app.py
  libs/cli/deepagents_cli/widgets/welcome.py
Due: none

feat(sdk): add LocalShellBackend (#930)
  libs/deepagents/deepagents/backends/__init__.py
  libs/deepagents/deepagents/backends/local_shell.py
  libs/deepagents/tests/unit_tests/backends/__init__.py
  libs/deepagents/tests/unit_tests/backends/test_local_shell_backend.py
Due: deepagents

chore(sdk,cli): add `VERSION` (#983)
  .github/workflows/check_versions.yml
  libs/cli/deepagents_cli/__init__.py
  libs/cli/deepagents_cli/version.py
  libs/deepagents/deepagents/__init__.py
  libs/deepagents/deepagents/version.py
  libs/deepagents/tests/unit_tests/test_version.py
Due: deepagents

chore(infra): add pull request template (#992)
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(deps): bump workflow deps (#993)
  .github/workflows/release.yml
Due: none

chore: enrich `pyproject.toml` files (#996)
  libs/acp/pyproject.toml
  libs/cli/pyproject.toml
  libs/deepagents/pyproject.toml
  libs/harbor/pyproject.toml
Due: deepagents, harbor, acp

chore: nit versions (#997)
  libs/acp/pyproject.toml
  libs/deepagents/pyproject.toml
  libs/harbor/pyproject.toml
Due: deepagents, harbor, acp

feat(infra): add contributor collection and update release notes workflow (#995)
  .github/workflows/release.yml
  release-please-config.json
Due: none

fix(infra): read perms for `release-please` (#998)
  .github/workflows/release-please.yml
Due: none

chore(infra): update `release-please` formatting (#1000)
  release-please-config.json
Due: none

fix(infra): change `release-please` component (#1002)
  .github/workflows/check_versions.yml
  libs/cli/deepagents_cli/__init__.py
  libs/cli/deepagents_cli/_version.py
  libs/cli/deepagents_cli/version.py
  libs/cli/uv.lock
  libs/deepagents/deepagents/__init__.py
  libs/deepagents/deepagents/_version.py
  libs/deepagents/deepagents/version.py
  libs/harbor/uv.lock
  release-please-config.json
Due: deepagents, harbor

chore(infra): recommended IDE plugins (#1005)
  .vscode/extensions.json
Due: none

feat(infra): add lockfile check to prevent out-of-sync merges (#1003)
  .github/workflows/check_lockfiles.yml
Due: none

fix(deepagents): prevent state merge error in parallel sub-agents (#954)
  libs/deepagents/deepagents/middleware/skills.py
  libs/deepagents/deepagents/middleware/subagents.py
Due: deepagents

chore(cli): add `extra-paths` configuration for `ty` environment (#1014)
  libs/cli/pyproject.toml
Due: none

feat(infra): add IDE settings (#1012)
  .vscode/settings.json
Due: none

refactor(cli): bare `AgentState` and `Runtime` without type parameters (#1016)
  libs/cli/deepagents_cli/agent.py
Due: none

fix(sdk): return error message instead of raising ValueError for invalid paths (#994)
  libs/deepagents/deepagents/middleware/filesystem.py
  libs/deepagents/tests/unit_tests/test_file_system_tools.py
  libs/deepagents/tests/unit_tests/test_file_system_tools_async.py
Due: deepagents

fix(infra): don't blanket-run CI (#1007)
  .github/workflows/check_lockfiles.yml
  .github/workflows/ci.yml
Due: none

fix: add py.typed to deepagents (#1024)
  libs/deepagents/deepagents/py.typed
Due: deepagents

chore(infra): add LinkedIn option (#1026)
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/release.yml
Due: none

chore(cli): fix image source (#1027)
  libs/cli/README.md
Due: none

chore: correct brand name (#1025)
  .github/workflows/ci.yml
  examples/ralph_mode/README.md
  examples/ralph_mode/ralph_mode.py
  examples/text-to-sql-agent/README.md
  examples/text-to-sql-agent/agent.py
  examples/text-to-sql-agent/pyproject.toml
  libs/acp/deepagents_acp/server.py
  libs/acp/pyproject.toml
  libs/deepagents/tests/README.md
  libs/harbor/README.md
  libs/harbor/deepagents_harbor/deepagents_wrapper.py
  libs/harbor/deepagents_harbor/tracing.py
  libs/harbor/pyproject.toml
Due: deepagents, harbor, acp

chore(cli): update changelog for pre-release history (#1028)
  libs/cli/CHANGELOG.md
Due: none

fix(sdk): handle exact file paths in grep and glob operations (#1017)
  libs/deepagents/deepagents/backends/utils.py
  libs/deepagents/tests/unit_tests/backends/test_state_backend.py
  libs/deepagents/tests/unit_tests/backends/test_state_backend_async.py
Due: deepagents

refactor(infra): cli release workflow (#1029)
  .github/workflows/release-publish.yml
  .github/workflows/release.yml
Due: none

chore(infra): nits (#1030)
  .github/PULL_REQUEST_TEMPLATE.md
  AGENTS.md
Due: none

feat(sdk): sandbox provider interface (#900)
  libs/cli/deepagents_cli/integrations/daytona.py
  libs/cli/deepagents_cli/integrations/modal.py
  libs/cli/deepagents_cli/integrations/runloop.py
  libs/cli/deepagents_cli/integrations/sandbox_factory.py
  libs/cli/pyproject.toml
  libs/deepagents/deepagents/backends/sandbox.py
  libs/deepagents/pyproject.toml
  libs/deepagents/tests/unit_tests/test_sandbox_provider.py
Due: deepagents

fix(harbor): CVE-2026-24486 (#1032)
  libs/harbor/pyproject.toml
  libs/harbor/uv.lock
Due: harbor

chore: update `.gitignore` (#1031)
  .gitignore
Due: none

fix(examples): CVE-2025-53000, CVE-2026-0994 (#1034)
  examples/deep_research/pyproject.toml
  examples/deep_research/uv.lock
Due: none

fix(harbor): CVE-2026-0994 (#1033)
  libs/harbor/pyproject.toml
  libs/harbor/uv.lock
Due: harbor

fix(infra): use `component-no-space` in cli `release-please` (#1036)
  release-please-config.json
Due: none

chore(infra): add note to issue templates about PR assignment (#1037)
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/ISSUE_TEMPLATE/privileged.yml
Due: none

feat(cli): model identity (#770)
  libs/cli/deepagents_cli/agent.py
  libs/cli/deepagents_cli/config.py
  libs/cli/tests/unit_tests/test_agent.py
  libs/cli/tests/unit_tests/test_config.py
  libs/cli/tests/unit_tests/test_end_to_end.py
Due: none

feat(cli): add expandable shell command display in HITL approval (#976)
  libs/cli/deepagents_cli/app.tcss
  libs/cli/deepagents_cli/widgets/approval.py
  libs/cli/tests/unit_tests/test_approval.py
Due: none

Path conditions:
  deepagents: any of: ^libs/deepagents/
  deepagents-cli: any of: ^libs/deepagents-cli/
  harbor: any of: ^libs/harbor/
  acp: any of: ^libs/acp/
